html, body{ /*default settings*/
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Alegreya Sans, sans-serif;
}

li{
  list-style-type: none 
}

hr.decorative-line{
  height: 1px;
  width: 80%;
  background-color: #FF8AAE;
  border-radius: 3px;
  border: 5px #FF8AAE;
}

/*PRODUCT CARD*/
.card{
  background-color: white;
  border: 1px solid rgb(195, 195, 195);
  padding: 20px 15px 20px 15px;
  margin: 20px 10px 30px 10px;
  text-align: center;
  width: 245px;
  display: inline-block;
  text-decoration: none;
}

.card:hover{
  transform: scale(1.02); /* grow by 2% */
  cursor: pointer;
}

.product-pic{
  width: 230px; 
  height: 230px; 
}

.product-text-container{
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.product-name{
  font-size: 24px;
  margin-bottom: 5px;
  text-align: left;
  color: black;
}

.product-price{
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  color: #fc5d8c;
}

.home-page, .products-page, .faq-page, .about-page, .order-page, .cart-page{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
}

/*NAVIGATION BAR*/
.navigation-bar{
  background-color: #FFF5F5;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;

  position: sticky; /*stays at same position as you scroll*/
  top: 0px;
}

.profile-pic{
  width: 40px;
  height: 40px;
  border-radius: 200%;
}

.navigation-bar-text{
  text-decoration: none;
  margin: 0px 13px;
  color: #FF8AAE;
  font-family: Alegreya Sans, sans-serif;
  font-size: clamp(15px, 2vw, 22px); /*font-size can shrink (14px min, 22px max)*/
}

.navigation-bar-text:hover{
  color: #AB9CA3;
}

.navigation-bar-links{
  display: flex;
  flex-direction: row;
  padding: 8px;
  height:40px;
  align-items: center;
}

.cart-icon{
  width: 27px;
  height: 27px;
}

/*HOME PAGE*/
.header-pic{
  width: 100%;
  margin-bottom: 0px;
}

.header-message-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: -18px 20px;
}

.header-message{
  font-family: Courgette, sans-serif;
  color: #FF8AAE;
  font-size: clamp(16px, 2vw, 25px);
  border: 2px solid #AB9CA3;
  border-radius: 20px; 
  padding: 33px 60px;
  text-align: center;
  max-width: 750px;
}

.best-sellers-section{
  padding: 0px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  overflow-x: hidden; /*prevents page-wide horizontal scroll*/
}

.best-sellers-title{
  padding: 0px 30px;
  text-align: left;
  color: #fc5d8c;
  font-size: 40px;
  margin-bottom: 15px;
}

.best-sellers-product-cards{
  display: flex;
  gap: 1px;
  overflow-x: scroll; /*horizontal scroll*/
  overflow-y: hidden; /*no vertical scrollbar*/
  scroll-snap-type: x mandatory; /*snap to each card*/
  -webkit-overflow-scrolling: touch; /*smooth scrolling on mobile */
  max-width: 100%; /*doesn't overflow page*/
  padding-bottom: 7px; /*space for scrollbar*/
  padding-right: 0px;
}


.best-sellers-product-cards > * {
  flex: 0 0 auto;         /* prevents cards from shrinking */
  scroll-snap-align: start; 
} 

.sign-up-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 10px 80px 10px;
}

.sign-up-title{
  font-size: 25px;
  font-weight: bold;
  color: #fc5d8c;
  margin-bottom: 20px;
  text-align: center;
}

.sign-up-input-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.sign-up-input-box{
  width: clamp(200px, 60vw, 600px);
  height: 35px;
  font-size: 18px;
  background-color:#FFF5F5;
  border-width: 0.7px;
  border-radius: 3px;
  padding: 5px;
  font-family: Alegreya Sans, sans-serif;
}

.sign-up-btn{
  width: clamp(200px, 40vw, 300px);
  height: 45px;
  font-size: 20px;
  border-width: 0px;
  border-radius: 3px;
  padding: 5px;
  color: white;
  background-color: #FF8AAE;
  font-family: Alegreya Sans, sans-serif;
}

.sign-up-btn:hover{
  cursor: pointer;
  background-color: #ffbede;
}

.sign-up-message{
  margin-top: 20px;
  font-size: 17px;
  font-family: Alegreya Sans, sans-serif;
  text-align: center;
}

/*FOOTER*/

.footer-container{
  background-color: #FFE7EE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  flex-wrap: wrap;
  gap: 35px 0px;
}

.footer-title{
  color: #81787C;
  font-size: clamp(16px, 2vw, 20px);
  font-family: Courgette, sans-serif;
  margin-bottom: 20px;
  text-align: center;
}

.contacts-container{
  display: flex;
  flex-direction: column;
}

.footer-contact-link{
  text-decoration: none;
  color: #81787C;
  font-size: clamp(16px, 2vw, 20px);
  margin: 3px 0px;
}

.footer-link:hover, .footer-contact-link:hover{
  color: #FF8AAE;
  cursor: pointer;
}

.contact-icon{
  width:25px;
  height:25px;
}

.contact-icon:hover{
  cursor:pointer;
}

.instagram-container, .email-container{
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 10px 10px;
}

.copyright-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: #FFF5F5;
}

.copyright-text{
  color: #FF8AAE;
}

/* PRODUCTS PAGE*/
.products-page-message{
  background-color: #FFF7D3;
  color: #FF8AAE;
  font-family: Courgette, sans-serif;
  text-align: center;
  font-size: 24px;
  padding: 20px;
  margin: 40px 0px;
}

.product-category-title{
  color: #fc5d8c;
  font-size: 35px;
  margin: 25px 30px 0px 30px;
}

.products-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
}

.outer-products-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animal-products-container, .character-products-container, .other-products-container{
  padding: 10px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  width: 95%;
}

.animal-product-cards, .character-product-cards, .other-product-cards{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 10px 5px 45px 5px;
}

.no-product-msg{
  color: #fc5d8c;
  font-size: clamp(20px, 2vw, 30px);
  font-family: Alegreya Sans, sans-serif;
  text-align: center;
  margin-top: 70px;
}

/*FAQ*/
.faq-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 60px 10px;
}

.faq-title{
  color: #fc5d8c;
  font-size: 35px;
  text-align: center;
}

.question-box{
  border: 1px solid rgb(195, 195, 195);
  padding: 25px;
  border-radius: 12px;
  width: clamp(200px, 60vw, 900px);
  margin: 20px;
}

.question-title{
  font-size: clamp(20px, 5vw, 30px);
  color: #FF8AAE;
  font-weight: bold;
}

.question-answer{
  margin-top: 20px;
  font-size: clamp(14px, 4vw, 20px);
}

/*ABOUT*/
.about-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 100px 50px;
  flex-wrap: wrap;
  gap: 30px;
}

.about-title-and-pic{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 36px;
  font-weight: bold;
  gap: 25px;
  color: #fc5d8c;
}

.about-pic{
  width: 300px;
  height: 300px;
}

.about-text{
  width: 750px;
  font-size: clamp(16px, 2vw, 21px);
  line-height: 1.6;
  margin: 30px;
  padding: 10px;
}

/*ORDER PAGE*/
.order-body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 70px;
  margin: 80px 30px;
  flex-wrap: wrap;
}

.order-pic{
  width: clamp(250px, 62vw, 400px);
  height: clamp(250px, 62vw, 400px);
  border-radius: 2px;
}

.order-text-container{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.order-product-name{
  font-size: clamp(25px, 7vw, 45px);
  font-weight: bold;
  margin-bottom: 10px;
}

.order-price{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 25px;
}

.order-decorative-line{
  height: 0.5px;
  width: 100%;
  background-color: black;
  border-radius: 3px;
}

.order-quantity-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 170px;
  margin: 40px 0px 0px 0px;
}

.order-quantity-box{
  background-color: #FFF5F5;
  border-width: 1px;
  width: 50px;
  height: 27px;
  font-family: Alegreya Sans, sans-serif;
  font-size: 18px;
}

.cart-button{
  background-color: #FFF7D3;
  color: #fc5d8c;
  font-size: 27px;
  font-family: Alegreya Sans, sans-serif;
  font-weight: bold;
  border-width: 0px;
  border-radius: 20px;
  padding: 13px 5px;
  box-shadow: 0px 3px 4px rgb(171, 169, 169);
  margin: 40px 0px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.cart-button:hover{
  cursor:pointer;
}

.cart-button:active{
  transform: translateY(3px); /* press down */
  box-shadow: 0px 1px 0px rgb(171, 169, 169); /* reduced shadow */
}

/*Back to Products Button*/
.back-button{
  text-decoration: none;
  margin: 0px 13px;
  color: #FF8AAE;
  font-family: Alegreya Sans, sans-serif;
  font-size: clamp(15px, 2vw, 18px); /*font-size can shrink (15px min, 18px max)*/
  background-color:#ffeff7;
  padding: 7px;
  margin: 40px 0px 0px 30px;
  width: 225px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 3px 4px rgb(171, 169, 169);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.back-button:hover{
  cursor: pointer;
  color:#AB9CA3;
}


/* CART PAGE */
.cart-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.cart-title{
  color: #fc5d8c;
  font-size: 35px;
  width: 90%;
  text-align: left;

}

.cart-decorative-line, .faq-decorative-line{
  height: 1px;
  width: 90%;
  background-color: #FF8AAE;
  border-radius: 3px;
  border: 5px #FF8AAE;
}

.cart-page-body{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 50px;
  flex-wrap: wrap;
}

.cart-items-list{
  display: flex;
  flex-direction: column;
}

.cart-order-container{
  display: flex;
  flex-direction: column;
}

.cart-item{
  background-color: white;
  border: 1px solid rgb(195, 195, 195);
  padding: 25px;
  text-align: left;
  width: clamp(300px, 30vw, 650px);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.cart-item-pic{
  width: clamp(75px, 20vw, 200px);
  height: clamp(75px, 20vw, 200px);
}

.cart-item-info-container{
  text-align: left;
  padding: 10px;
}

.cart-item-info{
  margin-bottom: 8px;
  font-size: clamp(14px, 2vw, 20px);
}

.cart-remove-btn{
  margin-top: 17px;
  width: clamp(75px, 15vw, 175px);
  background-color: #f3f3f3;
  color:#FF8AAE;
  font-size: clamp(14px, 2vw, 20px);
  font-family: Alegreya Sans, sans-serif;
  border-width: 0px;
  border-radius: 8px;
  padding: 5px 5px;
  box-shadow: 0px 3px 4px rgb(171, 169, 169);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  font-weight: bold;
}

.cart-remove-btn:hover{
  cursor: pointer;
  color:#AB9CA3;
}

.order-summary-container{
  background-color: #fffbeb;
  padding: 20px;
  font-size: clamp(14px, 2vw, 20px);
  padding-bottom: 40px;
}

.order-summary-title{
  color:#fc5d8c;
  font-weight: bold;
}

.order-summary-line{
  height: 1px;
  background-color: #FF8AAE;
  border-radius: 3px;
  border: 5px #FF8AAE;
}

.order-name-container, .order-email-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: clamp(300px, 30vw, 550px);
}

.order-input-box{
  background-color: #FFF5F5;
  border-width: 1px;
  width: 270px;
  width: clamp(150px, 15vw, 270px);
  height: 25px;
  font-family: Alegreya Sans, sans-serif;
  font-size: 16px;
}

.order-input-text{
  font-size: 20px;
}

.order-input-boxes-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 35px 0px;
}

.order-button{
  background-color: #FF8AAE;
  color: white;
  font-size: 27px;
  font-family: Alegreya Sans, sans-serif;
  font-weight: bold;
  border-width: 0px;
  border-radius: 20px;
  padding: 13px 5px;
  box-shadow: 0px 3px 4px rgb(171, 169, 169);
  margin: 10px 0px;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.order-button:hover, .order-quantity-box{
  cursor: pointer;
}

.order-button:active, .cart-remove-btn:active, .back-button:active, .modal-close-btn:active{
  transform: translateY(3px); /* press down */
  box-shadow: 0px 1px 0px rgb(171, 169, 169); /* reduced shadow */
}

.order-button:disabled { /*When name and email not inputted*/
  background-color: #ccc;
  cursor: not-allowed;
  opacity: 0.7;
}

.order-payment-message{
  color: #fc5d8c;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}
.empty-cart-msg{
  color: #fc5d8c;
  font-size: clamp(20px, 2vw, 30px);
  font-family: Alegreya Sans, sans-serif;
  text-align: center;
  margin: 50px 0px 0px 30px;
}
.empty-cart-body, .no-product-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
}

/*Behind the popup box (order confirmation)*/
.modal-container {
  position: fixed; /* box stays in place even when scrolling*/
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  background: rgba(0, 0, 0, 0.4); /*dimmed background*/
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /*box stays on top*/
}

/*popup box */
.modal-box {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  width: clamp(300px, 40vw, 500px);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-title{
  color: #fc5d8c;
  margin-bottom: 5px;
}

.modal-close-btn {
  margin-top: 10px;
  padding: 10px;
  width: clamp(175px, 25vw, 300px);
  background: #81787C;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 3px 4px rgb(171, 169, 169);
}

.modal-close-btn:hover {
  background: #AB9CA3;
}

