html, body{ /*default settings*/
  margin: 0;
  padding: 0;
}

hr.decorative-line{
  height: 1px;
  width: 90%;
  background-color: #AB9CA3;
  border-radius: 3px;
}

/*HOME PAGE*/
.home-page{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFC;
  font-family: Alegreya Sans, sans-serif;
}

.navigation-bar{
  background-color: #FFF5F5;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;

  position: sticky; /*stays at same position as you scroll*/
  top: 0px;
}

.profile-pic{
  width: 40px;
  height: 40px;
  border-radius: 200%;
}

a{
  text-decoration: none;
  color: #FF8AAE;
  font-size: clamp(13px, 2vw, 22px); /*font-size can shrink (14px min, 22px max)*/
}

a:hover{
  color: #AB9CA3;
}

li{
  display: inline-block; /* makes them list horizontally*/
  margin: 0px 13px;
}

.navigation-bar-links{
  display: flex;
  flex-direction: row;
  padding: 8px;
}

.header-pic{
  width: 100%;
  margin-bottom: 0px;
}

.header-message-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin: -18px 20px;
}

.header-message{
  font-family: Courgette, sans-serif;
  color: #FF8AAE;
  font-size: clamp(16px, 2vw, 30px);
  border: 4px solid #AB9CA3;
  border-radius: 30px; 
  padding: 33px 80px;
  text-align: center;
  max-width: 750px;
}

.best-sellers-section{
  padding: 10px;
}

.best-sellers-title{
  padding: 0px 40px;
  color: #AB9CA3;
  font-size: 40px;
  margin-bottom: 15px;
}

.best-sellers-product-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/*Best Sellers*/
.card{
  /* border: 1px solid black; */
  border-radius: 10px;
  box-shadow: 1px 5px 4px lightgrey;
  padding: 25px;
  margin: 30px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.product-pic{
  /* width: 287.2px;
  height: 359px; */
  max-width: 93%; /*60% of width available*/
  height: auto; 
  border-radius: 10px;
}

.product-name{
  font-size: 26px;
  margin: 10px;
  margin-bottom: 5px;
  margin-top: 20px;
  text-align: left;
}

.product-price{
  font-size: 23px;
  margin: 10px;
  margin-top: 0px;
  text-align: left;
}